body {
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.parent {
  display: flex;
  justify-content: center;
  width: 100%;
}
.button-info {
  display: flex;
  justify-content: left;
  width: 600px;
}

.chess-order {
  margin-right: 10%;
  font-weight: bold;
}

.chess-content {
  margin-right: 10%;
  text-align: center;
}

.chess-element {
  margin-right: 10%;
}

.points {
  margin-right: 10%;
}
